
.address{
    border: none;
    border: red;
    padding: 50px;
}
.container{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid gray;
}

input[type="submit"]{
    text-align: center;
}